body{
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('/Users/floryfran/bootcamp/bootcamp-practice/week_7/day2/todoapp/assets/img/bg-min.jpeg');
    background-size: cover;
} 

ul {
    padding: 0;
    margin: 7px 0;
}

li {
    list-style: none;
}


.wrapper{
    max-width: 600px;
    background: #FFF;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.wrapper input{
    width: 95%;
    align-self: center;
    padding: 10px;
    font-family: 'Poppins';
}

.newItemsList{
    background: #1886c61f;
    padding: 5px;
    border-radius: 2px;
    margin: 15px 0 10px;
}

#counterWrap{
    color: #1986c6;
    margin: 5px 0 10px;
    margin-top: 5px;
}

#todoList{
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
}

#todoList li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 0.5px solid #ccc;
}

#todoList li p {
    display: inline-block;
    padding: 0;
    margin: 0;
}

#todoList li button{
    align-self: end;
    border: none;
    background: #5ac5a9;
    border-radius: 2px;
    padding: 5px;
    color: #FFF;
    cursor: pointer;
}

#todoList li button:hover{
    background: #2e8971
}

.completedSection{
    background: #f8f8f8;
    padding: 5px;
    font-size: 14px;
    border-radius: 2px;
}
#tasksCompleted{
    margin: 7px 0;
}

#completedList{
    margin-top: 5px;
}
#completedList li{
    background: #cccccc5e;
    padding: 0 5px;
    border-radius: 2px;
}

#completedList li p{
    text-decoration: line-through;
    font-style: italic;
    margin: 0 0 2px;
}
.hide{
    display: none !important;
}